.pagenav
	%nav
		%li= link_to "article", article_path
		- if signed_in?
			/ %li= link_to(current_user.name, user_path(current_user))
			%li= link_to('sign out', signout_path, method:'delete')
			%li
				= link_to "users", '#'
				%ul.dropdown
					%li= link_to('profile', user_path(current_user))
					%li= link_to('settings', '#')
		- else
			%li= link_to "Facebook Sign in", "/auth/facebook"
			%li= link_to "Google Sign in", "/auth/google_oauth2"
			%li= link_to "sign up", new_identity_path
			%li= link_to "sign in", signin_path