.pagenav
	%nav
		%li= link_to "articles", articles_path
		- if signed_in?
			/ %li= link_to(current_user.name, user_path(current_user))
			%li= link_to('sign out', signout_path, method:'delete')
			%li
				= link_to "users", users_path
				%ul.dropdown
					%li= link_to('profile', user_path(current_user))
					%li= link_to('settings', edit_user_path(current_user))
		- else
			%li= link_to "Facebook Sign in", "/auth/facebook"
			%li= link_to "Github Sign in", "/auth/github"
			%li= link_to "sign up", new_identity_path
			%li= link_to "sign in", signin_path