!!!
%html{ lang: "en" }
	%head
		%title= full_title(yield(:title))
		= stylesheet_link_tag    	"application", media: "screen"
		= javascript_include_tag 	"application"
		= csrf_meta_tags
		= render 'layouts/shim'
		= render 'layouts/typekit'
	.page
		= render 'layouts/banner'
		= render 'layouts/pagenav'
		= render 'layouts/main'
		= render 'layouts/contentinfo'